.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.menu {
    display: none;
}
:root {
    --gray-50: hsl(0, 0%, 98%);
    --gray-500: hsl(0, 0%, 41%);
    --gray-950: hsl(0, 0%, 8%);
}
@font-face {
    font-family: Epilogue;
    src: url('./font/Epilogue/Epilogue-VariableFont_wght.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}
body {
    font-size: 18px;
}
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-menu {
    width: 35px;
    height: 20px;
    border: none;
    cursor: pointer;
    float: right;
    overflow: hidden;
}
.icon-menu {
    width: 100%;
    height: 100%;
}
.img-hero-desktop {
    display: none;
}
.img-hero-mobile {
    width: 100%;
    height: auto;
}
.title {
    font-size: 36px;
    font-weight: 700;
    color: var(--gray-950);
    text-align: center;
    margin-top: 30px;
    line-height: 1.2;
}
.learn-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.description {
    font-size: 16px;
    color: var(--gray-500);
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
}
.desc {
    padding: 0 10px;
}
.btn-learn-more {
    padding: 15px 25px;
    border: none;
    background-color: var(--gray-950);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
}
.client-databiz {
    background: url('./images/client-databiz.svg') no-repeat center;
    background-size: contain;
}
.client-audiophile {
    background: url('./images/client-audiophile.svg') no-repeat center;
    background-size: contain;
}
.client-meet {
    width: 70px!important;
    background: url('./images/client-meet.svg') no-repeat center;
    background-size: contain;
}
.client-maker {
    width: 60px!important;
    background: url('./images/client-maker.svg') no-repeat center;
    background-size: contain;
}
.client div {
    width: 80px;
    height: 30px;
}
.client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: var(--gray-50);
    text-align: center;
}