.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    --gray-50: hsl(0, 0%, 98%);
    --gray-500: rgb(105, 105, 105);
    --gray-950: hsl(0, 0%, 8%);
}
@font-face {
    font-family: Epilogue;
    src: url('./font/Epilogue/Epilogue-VariableFont_wght.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}
html {
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    font-size: 18px;
}
header {
    padding: 15px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
main {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.w-full {
    width: 100%;
}
.nav-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 42, 42, 0.8);
}
.menu {
    font-size: 16px;
    height: 100%;
    position: absolute;
    width: 240px;
    right: 0;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: var(--gray-50);
    color: var(--gray-500);
}
.list-menu {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.link {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    text-decoration: none;
    color: var(--gray-500);
    font-size: 15px;
    line-height: 10px;
}
.link img {
    vertical-align: middle;
    margin-right: 8px;
}
.link-2 {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--gray-500);
}
.link:hover, .link-2:hover {
    width: 100%;
    color: var(--gray-950);
}
.btn-menu {
    width: 35px;
    height: 20px;
    border: none;
    cursor: pointer;
    float: right;
    overflow: hidden;
}
.btn-close {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    float: right;
    overflow: hidden;
    margin-bottom: 20px;
}
.btn-link {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--gray-500);
    cursor: pointer;
    text-align: left;
}
.btn-link img {
    margin-left: 5px;
    vertical-align: middle;
}
.btn-login {
    width: 100%;
    padding: 10px 20px;
    background: none;
    border: none;
    color: var(--gray-500);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.btn-register {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid var(--gray-500);
    border-radius: 12px;
    background: none;
    color: var(--gray-500);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.btn-login:hover, .btn-register:hover, .btn-link:hover {
    color: var(--gray-950);
}
.btn-register:hover {
    border: 2px solid var(--gray-950);
}
.icon-menu {
    width: 100%;
    height: 100%;
}
.img-hero-desktop, .nav-menu-destkop {
    display: none;
}
.img-hero-mobile {
    width: 100%;
    height: auto;
}
.title {
    font-size: 36px;
    font-weight: 700;
    color: var(--gray-950);
    text-align: center;
    margin-top: 30px;
    line-height: 1.2;
}
.learn-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}
.description {
    text-indent: 18px;
    color: var(--gray-500);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
}
.desc {
    padding: 0 5px;
}
.btn-learn-more {
    padding: 15px 25px;
    border: none;
    background-color: var(--gray-950);
    border: 1px solid var(--gray-950);
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}
.btn-learn-more:hover {
    color: var(--gray-950);
    background-color: transparent;
    border: 1px solid var(--gray-950);
}
.client-databiz {
    background: url('./images/client-databiz.svg') no-repeat center;
    background-size: contain;
}
.client-audiophile {
    background: url('./images/client-audiophile.svg') no-repeat center;
    background-size: contain;
}
.client-meet {
    width: 70px!important;
    background: url('./images/client-meet.svg') no-repeat center;
    background-size: contain;
}
.client-maker {
    width: 60px!important;
    background: url('./images/client-maker.svg') no-repeat center;
    background-size: contain;
}
.client div {
    width: 80px;
    height: 30px;
}
.client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: var(--gray-50);
    text-align: center;
}
.center {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-top: 5vh;
    }
    .img-hero {
        display: flex;
        justify-content: center;
        grid-column: 2;
        grid-row: 1;
    }
    .title-element {
        grid-column: 1;
        grid-row: 1;
        padding: 4em;
    }
    .btn-menu , .img-hero-mobile {
        display: none;
    }
    .img-hero-desktop {
        display: block;
        width: 30vw;
        height: 80vh;
    }
    .title {
        width: 30vw;
        text-align: left;
        font-size: 4.5vw;
    }
    .learn-more {
        display: flex;
        justify-content: start;
    }
    .description {
        text-indent: 0;
        text-align: left;
    }
    .desc {
        width: 30vw;
    }
    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 5vw;
        padding-top: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .logo {
        vertical-align: middle;
    }
    .nav-menu-destkop {
        display: block;
        width: 88%;
        height: 40px;
    }
    .float-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 15vw;
        height: 40px;
        float: right;
    }
}